/* Content */
/* Diagnosis */
.checkbox{
}
.form-check{
    display: flex;
    flex-direction: column;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1px 0; /* Ubah nilai padding sesuai kebutuhan Anda */
  margin-top: auto;
}

  
    /* Navbar Style */
.navbar {
  background-color: #000000; /* Warna latar belakang navbar */
}

.navbar-brand {
  color: rgb(0, 0, 0); /* Warna teks brand */
}

.navbar-toggler-icon {
  color: rgb(0, 0, 0); /* Warna ikon toggle */
}

.navbar-nav {
  margin-left: auto; /* Mengatur margin kiri navbar-nav ke auto agar menu berada di sebelah kanan */
}

.nav-item {
  margin-right: 15px; /* Mengatur margin kanan setiap item menu */
}

.nav-link {
  color: rgb(0, 0, 0) !important; /* Warna teks link */
}

.nav-link:hover {
  color: #cc3a16 !important; /* Warna teks link saat dihover */
}

/* Active Link Style */
.nav-item.active .nav-link {
  color: #cc3a16 !important; /* Warna teks link aktif */
}


/* Dashboard Styles */

.container {
margin-top: 50px; /* Beri jarak atas pada container */
}

.list-header {
text-align: center; /* Tengahkan judul daftar */
margin-bottom: 20px; /* Beri jarak bawah pada judul */
}

.list-table {
margin: 0 auto; /* Tengahkan tabel di dalam container */
width: 80%; /* Sesuaikan lebar tabel */
}

.table {
width: 100%;
border-collapse: collapse;
margin-bottom: 20px; /* Beri jarak bawah pada tabel */
}

.table th,
.table td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd; /* Garis pemisah antar baris */
}

.table th {
background-color: #cc3a16; /* Warna latar belakang header tabel */
color: white; /* Warna teks header tabel */
}

.table tbody tr:hover {
background-color: #f5f5f5; /* Warna latar belakang saat baris dihover */
}
